

<div id="comments-page"  > 
<h1 id="comments-title">Comments</h1>

</div>
<div id="comments-div">
  {{!-- {{author}} --}}
{{#each comments}}
{{!-- {{this.author}} --}}
  	<div class="new-comment">
      <p class="comment-author"> {{this.author}} says:</p>
      <p class="comment-text">{{this.comment}}</p>
  	</div>
  
{{/each}}
</div>



<p id="prompt">Please leave your thoughts on this data. Were you suprised to see these numbers? Tell us in a comment :</p>
<div class= "container comment-form">

  <div class="form-group col-md-6">
    <label for="auth">Your Name:</label>
    <input type="text" class="auth-name form-control" id="auth" name="author">
  </div>

  <div class="form-group col-md-6">
    <label for="quo">Comment:</label>
    <textarea type="text" class="auth-comment form-control" id="quo" name="quote" rows="8" cols="40"></textarea>
  </div>

 <button id="saveButton" class="btn btn-primary col-md-6">Post</button>

</div>

 <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>