

<div id="comments-page"  > 
<h1 id="comments-title">Comments</h1>

<div id="comments-div">
{{#each comments}}

  	<div class="new-comment">
      <p><span class="label" id="comment-poster"></span> {{this.author}} says:</p>
      <p><span class="label" id="comment-text"></span> {{this.comment}}</p>

  	</div>
  
{{/each}}
</div>
<hr>


<p id="prompt">Please leave your thoughts on this data. Were you suprised to see these numbers? Tell us in a comment :</p>


<form class="create-form">

  <div class="form-group">
    <label for="auth">Your Name:</label>
    <input type="text" class="auth-name" id="auth" name="author">
  </div>

  <div class="form-group">
    <label for="quo">Comment:</label>
    <textarea type="text" class="auth-comment" id="quo" name="quote" rows="8" cols="40"></textarea>
  </div>

 
</form>

 <button id="saveButton" class="btn btn-primary">Post</button>

</div>