<div class="heading"><i class="fas fa-city"></i> Chicago Crime Data</div>

<div class="homePage">
    <div class="introText">
        <p>The purpose of this project is to quantitatively display crime trends for Chicago.</p>
        <p>Most of the data compares the previous five years, however we gathered data dating back to 2001 for some of
            our statistics.</p>
        <p>Data is filtered by years and type, with theft, battery, narcotics, assault and burglary
            being the most common.</p>
        <p>All data used is from the City of Chicago’s data portal, where they update every seven days.</p>
        <p>Find your neighborhood and see how its developed and how it compares to surrounding areas.</p>
        <a href="/form" class="btn btn-light">See The Data</a>
        <br>
    </div>
</div>
