
<style>
    body {
        background-color: #b3ddf3;
        font-family: 'Staatliches', cursive;
        text-align: center;

    }

    .heading {
        font-size: 100px;
    }

    .homePage {
        background-color: #b3ddf3;
        color: #2a110a;
        background-position: center;
    }

    .introText {
        width: 40%;
        text-align: center;
        margin: auto;
        margin-top: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
        background-color: #fff;
        border-radius: 20px;
    }

    .btn-light {
        background-color: #f90f00;
        color: #2a110a;
        border-radius: 10px;
    }

    .btn-light:hover {
        background-color: #b3ddf3;
        color: black;
        border-radius: 10px;
    }
</style>

<span class="heading"><i class="fas fa-city"></i> Chicago Crime Data</span>

<div class="homePage">
    <div class="introText">
        <p>The purpose of this project is to quantitatively display crime trends for Chicago.</p>
        <p>Most of the data compares the previous five years, however we gathered data dating back to 2001 for some of
            our statistics.</p>
        <p>Data is filtered by neighborhoods as well as types with theft, battery, narcotics, assault and burglary
            being the most common.</p>
        <p>All data used is from the City of Chicago’s data portal, where they update every seven days.</p>
        <p>Find your neighborhood and see how its developed and how it compares to surrounding areas.</p>
        <a href="/form" class="btn btn-light">See The Data</a>
        <br>
    </div>
</div>
