<div class="container">
    <h1 class="heading"><i class="fas fa-map-marker-alt"></i> CRIME LOCATION AND DATA</h1>
    <a href="/form" class="btn btn-light mapBtn">Back to Home</a>
    <br>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="sticky-top">
                <div id="map"></div>
                <form action="">

                    <input type="hidden" name="lat" id="lat">
                    <input type="hidden" name="lng" id="lng">

                </form>
                <script src="./assets/js/map.js"></script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgis7hi0KED0L8vrMMPH2GSDNLBa15iRc&callback=initMap"></script>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header font-weight-bold">
                    <div id="article-holder" class="card">
                        <div class="card-body">
                            <div id="crimeData"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
