<h1>Google Map</h1>


<style>
    #map{
        height: 400px; 
        width: 40%;
    }

 </style>

<div id="map"></div>
<form action="">

    <input type="hidden" name="lat" id="lat">
    <input type="hidden" name="lng" id="lng">

</form>
<script src="./assets/js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgis7hi0KED0L8vrMMPH2GSDNLBa15iRc&callback=initMap"></script>