#comments-page {
  max-width: 1200px;
  align-content: center;
  margin: auto;
 
}

.new-comment {
  background-color: white;
  width: 45%;
  padding-left: 50px;
  margin: auto;
  

}
.comment-author {
  font-weight: bold;

}
.comment-text {

}
body {
  background-color: #b3ddf3;
  font-family: 'Staatliches', cursive;
}

.heading {
  font-size: 100px;
  text-align: center;
  margin: auto;
}

.homePage {
  background-color: #b3ddf3;
  color: #2a110a;
  background-position: center;
}

.introText {
  width: 40%;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.btn-light {
  background-color: #f90f00;
  color: #2a110a;
  border-radius: 10px;
  border-color: black;
}

.btn-light:hover, .btn-light:active {
  background-color: #b3ddf3;
  color: black;
  border-radius: 10px;
  border-color: #fff;
}
#chartdiv {
  width: 60%;
  height: 300px;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
}

