body {
    background-color: #b3ddf3;
  } 

.form-control {
  border-color:  #f90f00;
}
.header {
  width: 100%;
  height: 400px;
}

#comments-page {
  width: 100%;
  align-content: center;
  margin: auto;
 
}
#prompt {
  margin-top: 40px;
  text-align: center;
  font-size: 20px;

}
label {

  font-size: 16px;
  font-weight: bold;
}
.comment-form {

  align-content: center;
  margin-right: auto;
  margin-left: auto;
}
#comments-div {
  margin-top: 50px;
  background-color: #b3ddf3;
  padding-top: 20px;
  padding-bottom: 10px;
}

.form-group {
background-color: #b3ddf3;
}

.new-comment {
  background-color: white;
  width: 45%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;


}
.comment-author {
  font-weight: bold;

}
body {
  background-color: #b3ddf3;
  font-family: 'Staatliches', cursive;
}

.header {
  width: 100%;
  min-height: 300px;
}
.heading {
  font-size: 100px;
  text-align: center;
  margin: auto;
}

.homePage {
  background-color: #b3ddf3;
  color: #2a110a;
  background-position: center;

}

.introText {
  width: 40%;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.btn-light {
  background-color: #f90f00;
  color: #2a110a;
  border-radius: 10px;
  border-color: black;
}

.btn-light:hover, .btn-light:active {
  background-color: #b3ddf3;
  color: black;
  border-radius: 10px;
  border-color: #fff;
}
#chartdiv {
  width: 60%;
  height: 300px;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
}
#map{
  height: 600px; 
  width: 100%;
}
.mapBtn{
 margin-top: 25px;
 margin-left: 45%;
 margin-bottom: 25px;
}
